body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
    padding-top: 40px;
}

#container{
    width: 70%;
    text-align: left;
    border: 1px solid #dadada;
    margin: 0 auto;
}

#container h1{
    font-size: 32px;
    color: blue;
}

#cabecera
{
    background: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    font-size: 30px;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    padding: 10px; 
    vertical-align: middle;
    font-size: 20px;
}

#cabecera #logo {
    width: 55px;
    padding: 10px;
    vertical-align: middle;
}

#post {
    background: white;
    padding: 1em;
}

#footer {
    padding: 10px;
    background: #8c8c8c;
    text-align: center;
    font-size: 20px;
    color: white;
}